@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(102, 225, 153, 0.6));
  background-repeat: no-repeat;
  background-size: cover;
  
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: 50px;
  
}
.card{
    width:350px;
    padding:10px;
    border:none;
    border-radius:20px;
}




:where(.container, header,.profile-button) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.con{
        background: linear-gradient(rgba(0,0,0,0.6),rgba(102, 225, 153, 0.6)), url(../images/bg_profile1.jpg);
        width: 800px;
        height: 500px;
        background-position-y: 0px;
        border-radius: 20px;
        backdrop-filter: blur(10px);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        
}
.box{
  width: 700px;
  height: 300px;
  background-color:transparent;
  border: 1px solid #333;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.box p{
    font-size: 25px;
    font-weight: 300;
}


.container {
        background: linear-gradient(rgba(0,0,0,0.6),rgba(102, 225, 153, 0.6)), url(../images/vendor.jpg);
        width: 500px;
        height: 450px;
        
        border-radius: 20px;
        backdrop-filter: blur(10px);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
.container header {
  height: 65px;
  width: 65px;
  background: #4070f4;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 50%;
}
.container h4 {
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
}

  .profile-button{
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      border: 5px solid rgba(235, 233, 233, 0.519);
      height:50px;
      width:300px;
      font-size:15px;
      color:#fff;
      background-color:transparent;
      border-radius:30px;
      transition:all 0.5s;
      backdrop-filter: blur(10px);
  }
  
  .profile-button:hover{
      background-color:#02875b98;
  }